page-home {

  .scroll-content {
    background-color: #8e44ad;
  }

  h2 {
    margin-top: 50%;
    text-align: center;
    color: #fff;
  }

  .scroll{
    height: 100%;
  }

  #map {
    width: 100%;
    height: 100%;
  }

}
